name: Build Plogon
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Setup .NET Core SDK
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: "10.0.x"
      - name: Install dependencies
        working-directory: Plogon
        run: dotnet restore
      - name: Build
        working-directory: Plogon
        run: dotnet build --configuration Release --no-restore
